card_simple/vorlage.png


# toller comment
# wenn schon mal commit ist es schwierig es danach zu ignore hinzuzufügen
# card_simple würde den ganze Ordner zu gitignore hinzufügen (-> wird nicht mit hichgeladen)